<html>
    <head>
        <title>
            login failed
        </title>
        <style type="text/css">
            .main{
                width: 400px;
                height: 250px;
                margin: auto;
                border: 2px solid rgb(255, 8, 0);
                background-color: rgb(0, 255, 213);
                color:  black;
                align-items: center;
                justify-content: center;
                margin-top: 200px;
            }
            body{
                background-color: rgb(83, 95, 91);
            }
        </style>
    </head>
    <body style="text-align: center;">
        <div class="main">
            <h2>
                Login is not succesful<br>check the credientials again<br>
            </h2>
            <h3>If you don't have account <a href=/register>Register here</a></h3>
        </div>
    </body>
</html>